$primary : red;
$secondary : green;
$font1 : cursive;
$font2 : fantasy;
$breakpoint1 : 2000px;
$breakpoint2 : 1800px;
$breakpoint3 : 1500px;
$breakpoint4 : 1200px;
$breakpoint5 : 900px;
$breakpoint6 : 700px;
$breakpoint7 : 500px;
